body {
  overflow: hidden;
  background:linear-gradient(pink,white 10%);    
}

p.username-text {
  text-align: center;
}

img.background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  -webkit-filter: blur(50px); /* Safari 6.0 - 9.0 */
  filter: blur(35px);
}
img.circle {
  padding-top: 2em;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  height: auto;
  max-width: 60%;
}
footer {
  position: fixed;
  left:0;
  bottom:0;
  width:100%;
  font-size: .80em;
  text-align: center;
  margin-top: 2em;
}

/* Dropdown menu styling*/ 
#menu {
  margin-top: 0.5em;
  border-radius: 25px;
  height: 40px;
  background-color:#f1f1f1;
  padding-left: 25px;
  font-size:12px;
}
#menu > div {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}
.dropdown-button {
  width: 100%;
  height: 40px;
  cursor: pointer;
  padding: 1em;
  border: 0px;
  box-sizing: border-box;
  background-color: transparent;
}
.dropdown-button:hover {
  background-color: #ffb0dc91;
}
#menu > div > div {
  width: 100%;
  position: relative;
  display: inline-block;
  background-color: #f1f1f1;
  padding:.5em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  box-sizing: border-box;
  visibility: hidden;
}
#menu > div > div.visible {
  visibility: visible;
}
#menu > div > div > a {
  font-family: sans-serif;
  text-decoration: none;
  white-space: pre;
}