body {
  overflow: hidden;
  background: linear-gradient(pink, white 10%);
}

div.center {
  display: block;
  margin: 0 auto;
  margin-top: 4em;
  position: relative;
  width: 300px;
  height: 300px;

}

svg.fillframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

img.fillframe {
  position: absolute;
  left: 20px;
  top: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.username-text {
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /*Nathan's solution*/
  transform-origin: 50% 50%;
}

img.background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -3;
  -webkit-filter: blur(50px);
  /* Safari 6.0 - 9.0 */
  filter: blur(35px);
}

img.star {
  position: absolute;
  z-index: -2;
}

img.circle {
  border-radius: 50%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: .80em;
  text-align: center;
  margin-top: 2em;
}

/*Style displays the mobile class */
/* .mobile {
  display: inline;
}
.desktop {
  display: none;
}
@media only screen and (min-width: 481px){
  .mobile {
		display: none;
	}
	.desktop {
		display: inline;
	}
} */