body{
  background-color: #ffb3ff;
  overflow: hidden;
}

#UI {
  text-align: center;
}

#shop {
  padding: 10px;
  position: fixed;
  left: 0px;
  top: 0px;
}

#counter {
  margin: 0px;
}

#increment {
  width: 149px;
  height: 153px;
  background: url(splash.png);
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  border: none;
}

#catDIV{
  width: 100%;
	margin-left: auto;
	margin-right: auto;
}

main{
  display: block;
  font-family: Lucida Console;
  margin-top: 0.5em;
  padding: 0.5em;
  border-radius: 1em;
  background-color: #ffb3ff;
}

footer {
  position: fixed;
  left:0;
  bottom:0;
  width:100%;
	font-size: .80em;
	text-align: center;
	margin-top: 2em;
}

.catGIF {
  image-rendering: pixelated;
  position: fixed;
  width: 45px;
  height: 45px;
  -webkit-animation: mymove 4s;
}
@keyframes mymove {
  0% {
    top: -45px;
  }
  50% {
    opacity: 0;
  }
  100% {
    top: 200vh;
  }
}