.App {
  min-height: 100vh;
  color: white;
  display: block;
  background-color: #39373a75;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #917e9b;
  flex-direction:initial;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Box-main{
  width: 50vw;
  height: 25vh;
  border-radius: 10px;
  color: rgb(117, 72, 104);
  font-weight: medium;
  font-size: calc(10px + 1vmin);
  box-shadow: 3;
  background-color: #e9f3f3;
  margin-left: auto;
  margin-right: 5vw;
  text-align: right;
  padding-right: 5vw;
  margin-top:5vh;
}

.Starcomponent{
  position: absolute;
  z-index: -2;
  transition: opacity 0.75s;
  
}
@keyframes fade {
  0% {
      opacity: 0;
  }

  20% {
      opacity: 1;
  }

  33% {
      opacity: 1;
  }

  53% {
      opacity: 0;
  }

  100% {
      opacity: 0;
  }
}

.fade {
  animation: 12s fade infinite;
}

.fade:nth-of-type(2) {
  animation-delay: -4s;
}

.fade:nth-of-type(3) {
  animation-delay: -8s;
}


svg.fillframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
