/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Red+Hat+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  min-height: 100vh;
  color: white;
  display:block;
  background-color: #ccc4cf;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  filter: drop-shadow(10px 10px 4px rgb(102, 88, 98));
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.NavBar{
  top:0;
  float: right;
  padding-right: 3vw;
}
.NavBar a{
  font-size: calc(1em + 1vmin);
  color: white;
  font-weight:bolder;
  text-decoration: none;
  font-family: 'Red Hat Text';
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 3vh 3vw;
  text-transform: none;
  line-height: 1vh;
  display:initial;
  
}
.NavBar a:hover {
  background-color: white;
  color:rgb(187, 89, 159);
  box-shadow: 0 8px 8px -4px rgb(102, 88, 98);
  border-radius: 10px;
  
}

.App-header {
  font-family: Caveat;
  background-color: #917e9b;
  background: linear-gradient(45deg, #9e7baf, #c08ace,#d2b2da ,rgb(250, 195, 250),#f8d9b6);
  font-size: calc(6em + 2vmin);
  font-weight: bold;
  animation: gradient 15s ease infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {
    background-position: 0%
  }
  100% {
    background-position: 100%
  }
}
.Hello-world{
  font-family: 'Press Start 2P', cursive;
  padding-bottom: 2vh;
  animation: slide-right 2s ease;
}
.projects-header{
  font-family: 'Press Start 2P', cursive;
  padding-bottom: 2vh;
  animation: slide-left 2s ease;
}
.App-main{
  width: 45vw;
  height: 25vh;
  font-family: 'Red Hat Text', sans-serif;
  border-radius: 10px;
  color: rgb(117, 72, 104);
  font-weight: medium;
  font-size: calc(.7em + 1.3vmin);
  box-shadow: 0 8px 8px -4px rgb(102, 88, 98);
  background-color: #ffffff;
  margin-left: auto;
  margin-right: 5vw;
  padding-right: 5vw;
  padding-left: 5vw;
  padding-top: 5vh;
  padding-bottom: 6vh;
  margin-top:5vh;
  
}
.Box-main{
  text-align: right;

}
.Tux{
  width:20vw;
  height: 10vh;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes slide-right {
  from {
    margin-right: 100%;
    width: 300%; 
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}
.ImageList-Projects{
  color: rgb(117, 72, 104);
  width: 45vw;
  height: 25vh;
  background-color: #ffffff;
}
.App-footer{
  text-align: center;
  background-color: #9e7baf;
  position:fixed;
  bottom: 0;
  height: 10vh;
  width:100%;
  text-decoration: none;
}
.App-link{
  text-decoration: none;
}
.Starcomponent{
  position: absolute;
  z-index: -2;
  transition: opacity 0.75s;
  
}
@keyframes fade {
  0% {
      opacity: 0;
  }

  20% {
      opacity: 1;
  }

  33% {
      opacity: 1;
  }

  53% {
      opacity: 0;
  }

  100% {
      opacity: 0;
  }
}

.fade {
  animation: 12s fade infinite;
}

.fade:nth-of-type(2) {
  animation-delay: -4s;
}

.fade:nth-of-type(3) {
  animation-delay: -8s;
}


svg.fillframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*VIEWPORTS*/
@media screen and (max-width: 900px){
  .App-main{
    height: 20%;
    width: 80%;
    text-align: left;
    padding-left:5vw;
    margin-bottom:5vh;
    font-size: calc(1em + 2vmin);
  }
  .App-header{
    font-size: calc(2em + 2vmin);
    text-align: center;
    background-color: #9e7baf;
    background: #9e7baf;
  }
  .App-logo{
    align-items: center;
  }
  .App-footer{
    position: sticky;
    bottom:0;
  }
  .Tux{
    width: 70vw;
    height: 10vh;
  }
}
